body {
  overflow-x: auto;
}

.cards-container {
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: hidden;
}

.card {
  background-color: hsla(0, 0%, 100%, 0.62);
  height: 490px;
  width: 250px;
  margin: 40px 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  gap: 4px;
  z-index: 2;
  backdrop-filter: blur(3px);
}
.card:hover {
  background-color: rgb(145, 139, 139);
}
.card img {
  border-radius: 10px 10px 0 0;
}
.character-info .btn {
  font-size: 1.3rem;
  width: 50%;
}
.character-info .btn :hover {
  color: rgb(255, 0, 0);
}
.name {
  font-size: 20px;
  color: var(--theme);
}
.remove-btn {
  border-radius: 20px;
}
.remove-btn i {
  font-size: 1.3rem;
}
.remove-btn i:hover {
  color: rgb(255, 0, 0);
}
.no-characters {
  font-size: 40px;
  color: var(--text-color);
}
