* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --addBtnHover: rgba(158, 158, 158, 0.7);
  --theme: rgb(255, 0, 0);
  --pure: #fff;
  --dark: #000;
  --background-color: black;
  --navbar-background-color: #36c4b8;
  --navbar-color: #12286e;
  --searchBar-box-shadow: #fc82b1;
  --text-color: #fff;
  --listHover: rgba(255, 255, 255, 0.7);
  --list-background: rgba(255, 255, 255, 0.5);
}

body {
  background-color: var(--background-color);
  font-family: "Kanit", sans-serif;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.j-s {
  justify-content: flex-start;
}

/*--------------------------------------------------------- Navbar ------------------------------------------------- */

/* Left Side */
.navbar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--navbar-background-color);
  font-weight: 600;
  letter-spacing: 2px;
  /* text-shadow: 0px 0px 5px #707d9d; */
  font-size: 30px;
  padding: 0 20px;
}

.navbar-brand {
  align-items: center;
  gap: 10px;
}

.navbar-brand a {
  text-decoration: none;
  color: var(--navbar-color);
  -webkit-text-stroke: 0.5px #f1dac4;
}

/* Right Side */
.logo {
  width: 3%;
  min-width: 45px;
  border-right: 2px solid var(--navbar-color);
}

.link-to-different-page {
  justify-content: center;
  text-decoration: none;
}

.btn {
  position: relative;
  border: none;
  outline: none;
  padding: 10px;
  background-color: var(--navbar-background-color);
  border-radius: 20px;
  color: #fff;
  height: 40px;
  font-size: 16px;
  -webkit-text-stroke: 0.5px lightblue;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 2px 2px 12px white;
  background-color: #1daf36;
}

.fav-btn {
  font-size: 16px;
  width: 140px;
}

.fav-icon {
  color: 1fff;
}

.bg-right-side-img {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 90%;
  /* width: auto; */
  filter: blur(2px);
}

/*-------------------------------------------------  Characters List for Home Page --------------------------------------------------*/
.charList {
  width: 35%;
  max-height: 75vh;
  position: absolute;
  z-index: 14;
  background: var(--list-background);
  border-radius: 0.2rem;
  padding: 0.5rem;
  overflow: hidden;
  overflow-y: scroll;
  top: 20%;
  right: 10%;
}
.charList::-webkit-scrollbar {
  width: 5px;
}
.charList:-webkit-scrollbar-track {
  background: var(--list-background);
}
.charList::-webkit-scrollbar-thumb {
  background: var(--pure);
  border-radius: 2.5px;
}
.charList::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}
.charListUl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 170px;
  height: 300px;
  margin: 1rem;
  background: var(--listHover);
  border-radius: 0.2rem;
  list-style: none;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  gap: 5px;
  z-index: 2;
  backdrop-filter: blur(3px);
}

.card:hover {
  background-color: rgb(145, 139, 139);
}
.card img {
  width: 100%;
  height: 60%;
}
.name {
  font-size: 20px;
  color: var(--theme);
}

/********* Show/Hide List Button *********/
.showHideList {
  position: absolute;
  top: 12%;
  right: 10%;
  color: var(--pure);
  z-index: 14;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  border: none;
  outline: none;
  padding: 10px;
  background-color: black;
  border-radius: 20px;
  height: 0px;
  font-size: 16px;
}

/*---------------------------------------------------- Search Bar and Results---------------------------------------- */

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.search-icon-container {
  background: var(--navbar-background-color);
  box-shadow: 0px 0px 7px 0px var(--searchBar-box-shadow);
  border-top-left-radius: 27px;
  border-bottom-left-radius: 27px;
  color: #fff;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 50px;
}

.searchBar-items {
  min-width: 40%;
}

#search-bar {
  background: var(--navbar-background-color);
  color: black;
  min-width: 550px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-left: 4px solid var(--navbar-color);
  box-shadow: 0px 0px 7px 0px var(--searchBar-box-shadow);
  outline: none;
  padding: 10px;
  letter-spacing: 2px;
  margin-top: 50px;
  z-index: 1;
  transition: all 0.22s ease-in-out;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 27px;
}

input::placeholder {
  color: beige;
  font-size: 20px;
}
.img-info {
  gap: 10px;
}
.img-info img {
  width: 45px;
  height: 45px;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}
.img-info img:hover {
  width: 70px;
  height: 70px;
}

#search-results {
  min-width: 435px;
  margin-top: 30px;
  max-height: 20rem;
  list-style: none;
  z-index: 2;
  backdrop-filter: blur(4px);
  background: var(--list-background);
  overflow-y: scroll;
}

#search-results li {
  width: 97%;
  height: 3rem;
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem;
  margin: 0.2rem 0;
  border-radius: 0.2rem;
  /* transition: all 0.22s ease-in-out; */
}
#search-results::-webkit-scrollbar {
  width: 2px;
}
#search-results:-webkit-scrollbar-track {
  background: var(--list-background);
}
#search-results::-webkit-scrollbar-thumb {
  background: var(--pure);
}
#search-results::-webkit-scrollbar-thumb:hover {
  background: var(--dark);
}
#search-results ul::-webkit-scrollbar {
  display: none;
}
/* #search-results li:hover {
  height: 6rem;
  background: var(--listHover);
  margin: 0 0.5rem 0 0.5rem;
} */
#search-results li .hero-name {
  /* transition: all 0.2s ease; */
  cursor: pointer;
}
#search-results li:hover .hero-name {
  font-size: 1.8rem;
  color: red;
}

.single-search-result {
  padding: 0 5px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: inherit;
}

.hero-info {
  display: flex;
  align-items: center;
}

.hero-name {
  font-size: 26px;
}

.buttons {
  gap: 5px;
  padding: 10px 10px;
  transition: all 0.2s ease-in-out;
}

#search-results li .buttons:hover {
  background: var(--addBtnHover);
  border-radius: 20px;
}

/*------------------------------------------------------ Background Image ------------------------------------------- */
.bg-img {
  width: 70%;
  min-width: 600px;
  height: 75%;
  position: fixed;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  background-size: cover;
}

/* ----------------------------------------------Toast for notification--------------------------------------------------*/
.fav-toast,
.remove-toast {
  position: absolute;
  bottom: 100px;
  font-size: 24px;
  width: 350px;
  color: white;
  letter-spacing: 1px;
  padding: 10px 20px;
  z-index: 2;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 5px;
}

.fav-toast[data-visiblity="show"],
.remove-toast[data-visiblity="show"] {
  display: block;
}

.fav-toast[data-visiblity="hide"],
.remove-toast[data-visiblity="hide"] {
  display: none;
}

.fav-toast {
  background-color: #8a4a63;
  box-shadow: 0px 0px 3px 3px white;
}

.remove-toast {
  background-color: hsl(40, 41%, 23%);
  box-shadow: 0px 0px 3px 3px white;
}

/* ------------------------------------------------Media Queries for different screen sizes ----------------------------- */

@media screen and (max-width: 510px) {
  #search-bar {
    min-width: 435px;
  }
  .navbar {
    flex-direction: column;
    gap: 4px;
    /* padding: 10px 0; */
    min-width: 510px;
  }
  .showHideList {
    top: 2rem;
    left: 13rem;
  }
  .charList {
    top: 5rem;
  }
  .navbar-brand {
    display: flex;
    flex-direction: column;
  }
  .navbar-brand span {
    margin-top: -35px;
  }

  .logo {
    width: 20%;
    min-width: 45px;
  }
  .bg-img {
    width: 50%;
    height: 70%;
    flex-direction: column;
  }
}
